<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calculator" />
    <meta name="auth" content="Daniel Nuñez" />
    <title>Calculator</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="calculator">
                <input class="display" type="text" [value]="screen">
                <div class="d-flex">
                    <div class="numbers">
                        <div class="button number">
                            <button class="btnNumber" (click)="number('9')">9</button>
                        </div>
                        <div class="button number">
                            <button class="btnNumber" (click)="number('8')">8</button>
                        </div>
                        <div class="button number">
                            <button class="btnNumber" (click)="number('7')">7</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('6')">6</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('5')">5</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('4')">4</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('3')">3</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('2')">2</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('1')">1</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('.')">.</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('0')">0</button>
                        </div>
                        <div class="button number">
                          <button class="btnNumber" (click)="number('00')">00</button>
                        </div>
                    </div>
                    <div class="operators">
                        <div class="buttonOperator">
                            <button class="btnOperator" (click)="deleteLastNumber()">DEL</button>
                        </div>
                        <div class="buttonOperator">
                          <button class="btnOperator" (click)="doOperation('/')">/</button>
                      </div>
                      <div class="buttonOperator">
                          <button class="btnOperator" (click)="doOperation('*')">X</button>
                      </div>
                      <div class="buttonOperator">
                          <button class="btnOperator" (click)="doOperation('-')">-</button>
                      </div>
                      <div class="buttonOperator">
                          <button class="btnOperator" (click)="doOperation('+')">+</button>
                      </div>
                      <div class="buttonOperator">
                          <button class="btnOperator" (click)="result()">=</button>
                      </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>

</html>